//variables
$content-width :90%;
$title_height: 48px;
html{
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic,  "メイリオ", Meiryo, sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background-color: #fff;
  //background-image: url("../images/background1.png");
  background-image: url('http://www.transparenttextures.com/patterns/asfalt-dark.png'); 
  //background-size: cover;
  background-attachment: fixed;
}

img#logo{
  height:40px;
  margin:auto 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
}
#title{
  background: #fff;
  //box-shadow: 0 3px;
  border-bottom: 1px solid #000;
  border-color: #888888;
  position: fixed !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index:1;
  width: 100%;
  height: $title_height;
}

#contents {
  margin: 0;
  margin-top: 20px;
  width: $content-width;
  height: 100%;
  float: right;
  }
.box{
  height: 500px;
  width:100%;
  margin: 0 auto;
  padding-left: 8px;
  //border-radius: 20px;
  .text-area{
    text-align: center;
    line-height:34px;
    font-size: 24px;
  }

  h2{
    text-align: center;
    font-size: 40px;
    margin-top: 0;
  }
  h3{
    font-size: 24px;
    margin-left: 24px;
  }
  h4{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
}
#sidebar{
  margin-top:8px;
  width:  10%;
  height: 100%;
  position: fixed;
  top: 28px;
  float: left;
  background: #fff;
}
.menu-item{
  margin: 4px 0px;
}
#blank{
  height:28px;
  margin:0 0;
}

.subtitle{
  font-size:24px;
  text-align: center;
  color:#dddddd
}
h1{
  -webkit-margin-after: 0;
}

.left-erea-in-box{
  width: 50%;
  float: left;
  padding-left: 24px;
}
.right-erea-in-box{
  width: 50%;
  float: right;
}
